body {
            font-family: Arial, sans-serif;
            background-color: #000;
        }
        .login-container {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        }
        .login-container h1 {
            color: #fff;
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
        }
        .login-container label {
            display: block;
            color: #fff;
            font-size: 14px;
            margin-bottom: 5px;
        }
        .login-container input[type="text"],
        .login-container input[type="password"] {
            width: 95%;
            padding: 10px;
            border: 1px solid #fff;
            border-radius: 5px;
            color: #000;
            font-size: 14px;
            margin-bottom: 10px;
        }
        .login-container button {
            width: 100%;
            padding: 10px;
            background-color: #fff;
            border: 0;
            border-radius: 5px;
            color: #000;
            font-size: 14px;
            cursor: pointer;
        }
        .login-container label a {
            color: #fff;
            text-decoration: none;
        }
        .login-container label a:hover {
            text-decoration: underline;
        }
        .registration-container {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        }
        .registration-container h1 {
            color: #fff;
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
        }
        .registration-container label {
            display: block;
            color: #fff;
            font-size: 14px;
            margin-bottom: 5px;
        }
        .registration-container input[type="text"],
        .registration-container input[type="password"] {
            width: 95%;
            padding: 10px;
            border: 1px solid #fff;
            border-radius: 5px;
            color: #000;
            font-size: 14px;
            margin-bottom: 10px;
        }
        .registration-container button {
            width: 100%;
            padding: 10px;
            background-color: #fff;
            border: 0;
            border-radius: 5px;
            color: #000;
            font-size: 14px;
            cursor: pointer;
        }