* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.switch{
    display: none;
}

.hamburger-menu {
    display: none;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    color: #ccc;
}

@media screen and (max-width: 768px) {
    .navbar {
        position: relative;
    }

    .slide-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .slide-menu.active {
        transform: translateX(0);
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        color: #fff;
        width: 30px;
        height: 20px;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 1000;
    }

    .bar {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 10px;
        opacity: 1;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
    }

    .bar:nth-child(1) {
        top: 0px;
    }

    .bar:nth-child(2) {
        top: 10px;
    }

    .bar:nth-child(3) {
        top: 20px;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: rotate(45deg);
        top: 8px;
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: rotate(-45deg);
        top: 8px;
    }
}

.kategori {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.kategori h2 {
    text-align: center;
    margin-bottom: 20px;
}

.kategori form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.kategori label {
    width: 100%;
    margin-bottom: 10px;
}

.kategori input[type="text"] {
    flex-basis: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.kategori select {
    flex-basis: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.kategori button[type="submit"] {
    flex-basis: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.kategori button[type="submit"]:hover {
    background-color: #444;
}

.kategori table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.kategori th,
.kategori td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.kategori th {
    font-weight: bold;
    text-align: left;
}

.kategori td:last-child {
    text-align: center;
}

.kategori td button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.kategori td button:hover {
    background-color: #444;
}
.transaksi {
    width: 100%;
    max-width: 1080px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.transaksi  h2 {
    text-align: center;
    margin-bottom: 20px;
}

.transaksi  form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width:fit-content;
}

.transaksi label {
    width: 100%;
    margin-bottom: 10px;
}

.transaksi  select {
    flex-basis: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.transaksi a {
    flex-basis: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.transaksi  a:hover {
    background-color: green;
}

.transaksi  table {
    width: fit-content;
    border-collapse: collapse;
    margin-top: 20px;
}

.transaksi  th,
.transaksi  td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.transaksi  th {
    font-weight: bold;
    text-align: left;
}

.transaksi  td:last-child {
    text-align: center;
}

.transaksi td a button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.transaksi td a button:hover {
    background-color: #444;
}
